/***** HEADER ******/

html, body{
	height: 100%;
	padding-bottom: 0px;
}

.bootstrap-remove-margin-row{
	margin-right: 0px;
	margin-left: 0px;
}

.resort-header-nav{
	.resort-header-nav-logout{
		cursor: pointer;
		img{
			display: inline-block;
			margin: -6px 5px 0px 0px;
		}
		a{
			color: $navbar-default-brand-color;
		}
	}
	.resort-header-nav-name{
		font-weight: 700;
  		text-transform: uppercase;
	}
}

.resort-subnav{
	background-color: $subnav-bg;
	box-shadow: inset 0px -1px 8px rgba(15, 14, 14, 0.72);
	color: $subnav-color;
	height: 100%;
	left: 0px;
	position: fixed; 
	width: 17%;
	ul{
		font-size: 16px;
		list-style-type: none;
  		padding-left: 0px;
  		text-transform: uppercase;
  		li{
  			box-shadow: inset 0px 0px 1px black, 0px 1px 2px rgba(81, 79, 79, 0.72);
  			cursor: pointer;
  			padding: 20px;
  		}
  		a{
  			color: $subnav-color;
  		}
	}
}