.form-signin{
	background-color: rgb(250, 250, 250);
	border-radius: 5px;
	box-shadow: inset 0px 1px 5px rgb(242, 236, 236);
	margin:24px auto 0px auto;
	max-width: 370px;
  	padding: 20px 40px;
		.form-control{
	  		margin-bottom: 10px;
	  	}
}