/*****Video Banner******/

.about-video{
	background: url('../images/front/about-us-bg.png') ;
	background-size: cover;
	padding: 50px 0px 50px 0px;
	text-align: center;
	width: 100%;
	img{
		max-width:70%;
	}
	@media (min-width: 1200px){
		height: 550px;
		padding-top: 100px;
	}
	@media (min-width: 1200px){
		background-size: 100%;
		img{

		}
	}

	
}


.about-video-content{
	width:700px;
	height:400px;
	@media (max-width: 800px) {
		width:550px;
		height:300px;
	}
	@media (max-width: 600px) {
		width:350px;
		height:200px;
	}
	@media (max-width: 450px) {
		width:300px;
		height:200px;
	}
	@media (max-width: 350px) {
		width:220px;
		height:120px;
	}
}


/*****About main description******/
.about-description{
	color: #434343;
	font-family: 'montserratlight';
	font-size: 12px;
	padding: 35px 15px 45px 15px;
	text-align: center;

	@media (min-width: 540px){
		font-size: 14px;
	}
}


/*****Amenities******/
.about-amenities-title{
	background-color: #1c1c1c;
	color: #dddada;
	font-family: 'montserratlight';
	font-size: 16px;
	padding: 10px 15px;
	@media (min-width: 540px){
		font-size: 20px;
		
	}

	@media (min-width: 992px){
		padding: 10px 0px;
	}
}

.about-amenities-content{

	.about-amenities-row{
		margin-top: 0px;
	}

	.about-amenities-image{
		display: inline-block;
		margin-top: 35px;
		width: 30%;
		img{
			width: 75px;
		}
		@media (min-width: 540px){
			width: 20%;
			img{
				width: 110px;
			}
		}
	}

	.about-amenities-description{
		color: #1c1c1c;
		display: inline-block;
		font-family: 'montserratlight';
		font-size: 12px;
		text-align: left;
		vertical-align: middle;
		width: 65%;		
		@media (min-width: 540px){
			font-size: 14px;
		}
	}
	

	@media (min-width: 992px){
		.about-amenities-row{
			margin-top: 35px;
		}

		.about-amenities-image{
			margin-top: 0px;
			width: 30%;
		}
		
	}
}