
/******Header Navigation******/



.top-header{
	background-color: #1c1c1c;
	font-family: 'montserratlight';
	font-size: 12px;
	color: #797777;
	padding-top: 7px;
	padding-bottom: 5px;
}
.navbar-menu-button{
	position: relative;
	img{
		height: 25px;
    	position: absolute;
    	right: 0px;
    	top: 16px;
	}
	@media (min-width: 540px){
		display: none;
	}
}

.navbar-front-resort-logo{
	display: inline-block;
	padding-top: 12px;
	padding-bottom: 10px;
	text-align: left;
    width: 75%;
	vertical-align: top;
	img{
		width: 230px;
	}
	@media (min-width: 540px){
		text-align: center;
		padding-bottom: 0px;
		width: 100%;
	}
	    
	@media (min-width: 992px){
		text-align: left;
		width: 30%;
		img{
			width: 260px;
		}
	}
	
}

.navbar-front-resort-menu{

	background-color: #f8fafa;
	position: absolute;
    left: 0px;
    list-style-type: none;
    padding-top: 9px;
    text-align:center;
    width: 100%;
    -webkit-padding-start: 0px;
    &.navbar-closed{
    	display: none;
    }

    @media (min-width: 540px){
    	display: inline-block;
		margin: 0px;
		position: relative;
		padding-top: 10px;
		width: 100%;
		vertical-align: top;

		&.navbar-closed{
	    	display: inline-block;
	    }
    }
    
    @media (min-width: 992px){
    	display: inline-block;
    	padding-top: 24px;
		text-align: right;
		width: 70%;
		&.navbar-closed{
	    	display: inline-block;
	    }
    }
		
	li{
		border-bottom: 1px solid #434343;
		color: #434343;
		font-family: 'montserratregular';
		font-size: 14px;
		padding: 5px 0px;
		text-align: center;
		width: 100%;
		@media (min-width: 540px){
			border-bottom: 0px;
			display: inline-block;
			width: 19%;
		}
		
		@media (min-width: 992px){
			padding-bottom: 13px;
			width: 15%;
		}

		a{
			color: #434343;
		}
	}
	li.selected{
		border-bottom: 4px #434343 solid;
	}
}


/******Footer******/

footer{
	background-color: #1c1c1c;
	font-family: 'montserratlight';
	font-size: 12px;
	color: #797777;
	padding-top: 7px;
    padding-bottom: 5px;
}


/******Helpers******/

.helper-center{
	text-align: center;
}

.helper-right{
	text-align: right;
}