/*****Find us banner******/


.find-us{
	background: url('../images/front/find-us-bg.png');
	background-size: cover;
	color: #faf8f8;
	font-family: 'montserratlight';
	padding: 50px 0px;
	text-align: center;
	width: 100%;
	@media (min-width: 768px){
		background-size: 100%;
	}
	.contact-left{
		display: inline-block;
		width: 90%;
		@media (min-width: 768px){
			width: 35%;
		}
	}
	.contact-information{
		border: 5px solid #faf8f8;
		padding: 20px 0px 0px 0px;
		text-align: center;
		vertical-align: top;
		width: 100%;
	}
	.contact-iformation-header{
		background-color: #faf8f8;
		color: #060606;
		font-size: 20px;
		padding: 7px;
	}
	.contact-information-content{
		font-size: 14px;
	}

	.contact-map{
		display: inline-block;
		margin-left: 0px;
		margin-top: 10px;
		vertical-align: top;
		@media (min-width: 768px){
			margin-left: 50px;
			margin-top: 0px;
		}
		img{
			max-width: 90%;	
		}
		
	}
}


/*****Terms******/

.terms{
	color: #434343;
	padding-top: 30px;
	text-align: center;
	.terms-topline, .terms-bottomline{
		background-color: #434343;
		display: inline-block;
		height:3px;
		width: 140px;
	}

	.terms-topline{
		margin-bottom: 12px;
	}

	.terms-bottomline{
		margin-top: 12px;
	}

	.terms-header{
		font-family: 'montserratregular';
		font-size: 20px;
	}

	.terms-content{
		font-family: 'montserratlight';
		font-size: 14px;
		margin: 0 auto;
		width: 85%;
    
	}
}