/*****Gallery Container******/


.gallery{
	background-color: #1c1c1c;
	color : #fdfefe;
	font-family: 'montserratlight';
	font-size: 16px;
	text-align: center;
	@media (min-width: 768px){
		font-size: 18px;
	}

	.gallery-header{
		margin-bottom: 0px;
	}

	.gallery-header-topline, .gallery-header-bottomline{
		background-color: #fdfefe;
		display: inline-block;
		height: 2px;
		text-align: center;
    	width: 120px;
    	@media (min-width: 768px){
    		height: 3px;
    		width: 150px;
    	}
	}
	.gallery-header-topline{
		margin: 30px 0px 5px 0px;
	}
	.gallery-header-bottomline{
		margin: 5px 0px 30px 0px;
	}

	.gallery-image-link{
		display: inline-block;
		padding-right: 1%;
		padding-bottom: 10px;
		width: 49%;
		@media (min-width: 768px){
			width: 23%;
		}
		.gallery-image{
			width: 100%;
		}
	}
}