/*****Home Banner******/

/*.home-banner{
	background: url('../images/front/home-banner.png');
	background-size: 100%;
	height: 600px;
	margin: 0px 0px 25px 0px;
	width: 100%;
}
*/

.home-banner{
	margin: 0px 0px 25px 0px;
	width: 100%;
}

/*****Home Content******/

.home-container{
	.home-welcome-topline, .home-welcome-bottomline{
		background-color: #1c1c1c;
		display: inline-block;
		height: 2px;
		text-align: center;
    	width: 150px;
    	@media (min-width: 540px){
    		height: 3px;
    		width: 200px;
    	}
	}
	.home-welcome-topline{
		margin-bottom: 10px;
		@media (min-width: 540px){
			margin-bottom: 15px;
		}
		
	}
	.home-welcome-bottomline{
		margin: 15px 0px 15px 0px;
		@media (min-width: 540px){
			margin: 15px 0px 35px 0px;
		}
	}

	.home-welcome-header{
		color: #434343;
		font-family: 'montserratregular';
		font-size: 16px;
		text-align: center;
		@media (min-width: 540px){
			font-size: 20px;
		}
	}
	.home-welcome-description{
		color: #434343;
		font-family: 'montserratlight';
		font-size: 12px;
		padding: 0px 15px;
		text-align: center;
		@media (min-width: 540px){
			font-size: 14px;
			padding: 0px;
		}
	}

}

/*****Home Spring Content Moved Here Due to full width******/


.hotspring-background{
	background: url('../images/front/home-spring-backgroun.png') 0px 330px;
	background-size: auto;
	margin-top: 70px;
	padding: 15px 0px 40px 0px;
	@media (min-width: 540px){
		background-size: 100%;
		padding: 15px 0px 80px 0px;
	}
	.home-hotspring-header{
		color: #fffdfd;
		font-family: 'montserratlight';
		font-size: 16px;
		@media (min-width: 540px){
			font-size: 20px;
		}
	}

	.home-hotspring-description{
		color: #fffdfd;
		font-family: 'montserratlight';
		font-size: 12px;
		@media (min-width: 540px){
			font-size: 14px;
		}
	}

	.home-spring-circle1{
		display: none;
		@media (min-width: 992px){
			display:block;
			position: absolute;
			right: 290px;
	    	top: -15px;
			width: 190px;
		}
	}

	.home-spring-circle2{
		display: none;
		@media (min-width: 992px){
			display:block;
			position: absolute;
			right: -20px;
	    	top: -80px;
			width: 290px;
		}
	}

	.home-spring-circle3{
		display: none;
		@media (min-width: 992px){
			display:block;
			position: absolute;
			right: 150px;
	    	top: 40px;
			width: 230px;
		}
	}

}

	