/*****Rates Content******/

.rates{
	background:url('../images/front/rates-bg.png');
	background-size: cover;
	color:#fffdfd ;
	font-family: 'montserratlight';
	min-height: 570px;
	text-align: center;
	@media (min-width: 1200px){
		background-size: 100%;
	}
	.rates-header{
		font-size: 16px;
		text-align: left;
		margin: 20px 15px 30px 15px;
		@media (min-width: 768px){
			font-size: 18px;
			margin: 20px 0px 30px 0px;
		}
	}
	.rates-category{
		border: 5px solid #fffdfd;
		display: inline-block;
		font-size: 16px;
		float: none;
		padding: 0px;
		margin-bottom: 20px;
		vertical-align: top;
		@media (min-width: 768px){
			font-size: 18px;
			margin-bottom: 0px;
		}
	}
	.rate-price{
		&.rate-price-promo{
			line-height: 13px;
		}
		background-color:#fffdfd;
		color: #1c1c1c; 
		padding: 5px 0px;
		span{
			font-size: 12px;
		}
	}
}